

.sectionLista{
    /*  TODO: definir un estilo general de color o border universal para laslistas */
}

#listaTipo1{
    list-style-type: square;
    list-style-position: inside;
}

#listaTipo2{
    list-style-image: url("Imagenes/item2.jpg");
    list-style-position: outside;
}